#container {
    display: flex;
}

#left {
    flex: 1;
    height: 1080px;
    text-align: center;
    background: darkslategrey;
    color: #00ff41;
}

#right {
    height: 1080px;
    width: 75%;
    text-align: center;
    background: black;
    color: #00ff41;
}

#form{
    margin-top: 25%;
}

#table{
    margin-top: 10%;
}
table{
    margin: 0 auto;
}
table, th, td {
    border: 1px solid #00ff41;
    color: #00ff41;
}

.errormsg{
    color: red;
}